html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Lexend Deca', sans-serif;
}

.titreEct {
    font-size: 30px;
    color: #ffffff;
    max-width: 600px;
    z-index: 99;
    mix-blend-mode: difference;
}

.bouton-role {
    padding: 20px;
    margin: 10px;
    background-color: #5770BE;
    border-radius: 12px;
    color: #fdfdff;
    text-align: center;
}